

/* =============================================================
    RESPONSIVE RESET
    Replace with your own.
 * ============================================================= */

@-webkit-viewport { width: device-width; zoom: 1.0; }
   @-moz-viewport { width: device-width; zoom: 1.0; }
    @-ms-viewport { width: device-width; zoom: 1.0; }
     @-o-viewport { width: device-width; zoom: 1.0; }
        @viewport { width: device-width; zoom: 1.0; }

html { overflow-y: auto; }

img, audio, video, canvas { max-width: 100%; }





/* =============================================================
    TABBY TABS
    Toggle tab styling.
 * ============================================================= */

/*  Hide tab navigation by default */
.tabs {
    display: none;
    visibility: hidden;
}

/*  Display tab navigation if javascript enabled.
 *  This requires on the included js-accessibility.js script. */
.js .tabs {
    display: block;
    visibility: visible;
}

/*  Force browser to show a pointer on tab navigation. */
.tabs a, .tabs button {
    cursor: pointer;
}

/*  Hide tab content if javascript is enabled. */
.js .tabs-pane {
    display: none;
    visibility: hidden;
}

/*  Show tab content when active class is added.
 *  This class is added via javascript. */
.tabs-pane.active {
    display: block;
    visibility: visible;
}

/*  Fancy list styling for tab navigation.
 *  Adjust to fit your design. */
.tabs-horizontal,
.tabs-stacked {
    list-style: none;
    margin-left: 0;
}

/*  Display tab navigation as inline list. */
.tabs-horizontal > li,
.tabs-stacked > li {
    display: inline-block;
    float: none;
}

/*  Set tab navigation link color.
 *  Adjust to fit your design. */
.tabs-horizontal a,
.tabs-stacked a {
    color: #808080;
    text-decoration: none;
}

/*  When active, change tab navigation background color. */
.tabs-horizontal > .active,
.tabs-stacked > .active {
    background-color: #307196;
}
/*  On hover and when active, change tab navigation color */
.tabs-horizontal a:hover,
.tabs-stacked a:hover,
.tabs-horizontal > .active > a,
.tabs-stacked > .active > a {
    color: #272727;
    text-decoration: none;
}

/*  For bigger screens.
 *  (Tabby is mobile-first.) */
@media (min-width: 40em) {

    /*  Turn stacked nav into vertical list. */
    .tabs-stacked {
        border: none;
        margin-left: 0;
        padding-left: 0;
        padding-top: 1em;
        padding-bottom: 1em;
    }

    .tabs-stacked > li,
    .tabs-stacked > li > a {
        display: block;
        width: 100%;
    }
}


/* Clearfix */
.tabs:before, .tabs:after {
    display: table;
    content: "";
    zoom: 1;
}

.tabs:after {
    clear: both;
}
/*Bottom Arrow*/

.navbar-nav li.active:after, .navbar-nav li.active:before {
    bottom: 0%;
    left: 50%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.navbar-nav li.active:after {
    border-width: 6px;
    margin-left: -6px;
    z-index: 1;
}
.navbar-nav li.active:before {
    border-bottom-color: black;
    border-width: 9px;
    margin-left: -9px;
    z-index: 1;
}
#bar{
border-right:1px solid #F0F0F0;
}
