.setup-content p,
.setup-content table {
    font-size: 1em;
    line-height: 1.75em;
    color: #666
}

body {
    margin: 50px auto 24px;
    box-shadow: none;
    background: #f1f1f1;
    padding: 0
}

#logo {
    /* top: 9px; */
    border: 0;
    margin: 0 0 0px;
    padding: 0;
    text-align: center
}

#logo img {
    max-width: 50%
}

.setup-content {
    padding: 24px 24px 0;
    background: #fff;
}

.setup-content h1,
.setup-content h2,
.setup-content h3,
.setup-content table {
    margin: 0 0 24px;
    border: 0;
    padding: 0;
    color: #666;
    clear: none
}

.setup-content p {
    margin: 0 0 24px
}

.setup-content a {
    color: #3AA7D9
}

.setup-content a:focus,
.setup-content a:hover {
    color: #111
}

.setup-content .form-table th {
    width: 35%;
    vertical-align: top;
    font-weight: 400
}

.setup-content .form-table td {
    vertical-align: top
}

.setup-content .form-table td input,
.setup-content .form-table td select {
    width: 100%;
    box-sizing: border-box
}

.setup-content .form-table td input[size] {
    width: auto
}

.setup-content .form-table td .description {
    line-height: 1.5em;
    display: block;
    margin-top: .25em;
    color: #999;
    font-style: italic
}

.setup-content .form-table td .input-checkbox,
.setup-content .form-table td .input-radio {
    width: auto;
    box-sizing: inherit;
    padding: inherit;
    margin: 0 .5em 0 0;
    box-shadow: none
}

.setup-content .form-table .section_title td {
    padding: 0
}

.setup-content .form-table .section_title td h2,
.setup-content .form-table .section_title td p {
    margin: 12px 0 0
}

.setup-content .form-table td,
.setup-content .form-table th {
    padding: 12px 0;
    margin: 0;
    border: 0
}

.setup-content .form-table td:first-child,
.setup-content .form-table th:first-child {
    padding-right: 1em
}

.setup-content .form-table table.tax-rates {
    width: 100%;
    font-size: .92em
}

.setup-content .form-table table.tax-rates th {
    padding: 0;
    text-align: center;
    width: auto;
    vertical-align: middle
}

.setup-content .form-table table.tax-rates td {
    border: 1px solid #eee;
    padding: 6px;
    text-align: center;
    vertical-align: middle
}

.setup-content .form-table table.tax-rates td input {
    outline: 0;
    border: 0;
    padding: 0;
    box-shadow: none;
    text-align: center
}

.setup-content .form-table table.tax-rates td.sort {
    cursor: move;
    color: #ccc
}

.setup-content .form-table table.tax-rates td.sort:before {
    content: "\f333";
    font-family: dashicons
}

.setup-content .form-table table.tax-rates .add {
    padding: 1em 0 0 1em;
    line-height: 1em;
    font-size: 1em;
    width: 0;
    margin: 6px 0 0;
    height: 0;
    overflow: hidden;
    position: relative;
    display: inline-block
}

.setup-content .form-table table.tax-rates .add:before {
    content: "\f502";
    font-family: dashicons;
    position: absolute;
    left: 0;
    top: 0
}

.setup-content .form-table table.tax-rates .remove {
    padding: 1em 0 0 1em;
    line-height: 1em;
    font-size: 1em;
    width: 0;
    margin: 0;
    height: 0;
    overflow: hidden;
    position: relative;
    display: inline-block
}

.setup-content .form-table table.tax-rates .remove:before {
    content: "\f182";
    font-family: dashicons;
    position: absolute;
    left: 0;
    top: 0
}

.setup-content .setup-pages {
    width: 100%;
    border-top: 1px solid #eee
}

.setup-content .setup-pages thead th {
    display: none
}

.setup-content .setup-pages .page-name {
    width: 30%;
    font-weight: 700
}

.setup-content .setup-pages td,
.setup-content .setup-pages th {
    padding: 14px 0;
    border-bottom: 1px solid #eee
}

.setup-content .setup-pages td:first-child,
.setup-content .setup-pages th:first-child {
    padding-right: 9px
}

.setup-content .setup-pages th {
    padding-top: 0
}

.setup-content .setup-pages .page-options p {
    color: #777;
    margin: 6px 0 0 24px;
    line-height: 1.75em
}

.setup-content .setup-pages .page-options p input {
    vertical-align: middle;
    margin: 1px 0 0;
    height: 1.75em;
    width: 1.75em;
    line-height: 1.75em
}

.setup-content .setup-pages .page-options p label {
    line-height: 1
}

@media screen and (max-width:782px) {
    .setup-content .form-table tbody th {
        width: auto
    }
}

.setup-content .twitter-share-button {
    float: right
}

.setup-content .setup-next-steps {
    overflow: hidden;
    margin: 0 0 24px
}

.setup-content .setup-next-steps h2 {
    margin-bottom: 12px
}

.setup-content .setup-next-steps .setup-next-steps-first {
    float: left;
    width: 50%;
    box-sizing: border-box
}

.setup-content .setup-next-steps .setup-next-steps-last {
    float: right;
    width: 50%;
    box-sizing: border-box
}

.setup-content .setup-next-steps ul {
    padding: 0 2em 0 0;
    list-style: none;
    margin: 0 0 -.75em
}

.setup-content .setup-next-steps ul li a {
    display: block;
    padding: 0 0 .75em
}

.setup-content .setup-next-steps ul .setup-product a {
    background-color: #3AA7D9;
    border-color: #3AA7D9;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 0 rgba(0, 0, 0, .15);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 0 rgba(0, 0, 0, .15);
    font-size: 1em;
    height: auto;
    line-height: 1.75em;
    margin: 0 0 .75em;
    opacity: 1;
    padding: 1em;
    text-align: center;
    /* text-shadow:0 -1px 1px #8a4f7f,1px 0 1px #8a4f7f,0 1px 1px #8a4f7f,-1px 0 1px #8a4f7f */
    color: aliceblue;
}

.setup-content .setup-next-steps ul li a:before {
    color: #82878c;
    font: 400 20px/1 dashicons;
    speak: none;
    display: inline-block;
    padding: 0 10px 0 0;
    top: 1px;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none!important;
    vertical-align: top
}

.setup-content .setup-next-steps ul .learn-more a:before {
    content: "\f105"
}

.setup-content .setup-next-steps ul .video-walkthrough a:before {
    content: "\f126"
}

.setup-content .setup-next-steps ul .sidekick a:before {
    content: "\f118"
}

.setup-content .setup-next-steps ul .newsletter a:before {
    content: "\f465"
}

.setup-content .updated,
.setup-content .woocommerce-language-pack,
.setup-content .woocommerce-tracker {
    padding: 24px 24px 0;
    margin: 0 0 24px;
    overflow: hidden;
    background: #f5f5f5
}

.setup-content .updated p,
.setup-content .woocommerce-language-pack p,
.setup-content .woocommerce-tracker p {
    padding: 0;
    margin: 0 0 12px
}

.setup-content .updated p:last-child,
.setup-content .woocommerce-language-pack p:last-child,
.setup-content .woocommerce-tracker p:last-child {
    margin: 0 0 24px
}

.setup-steps {
    padding: 0 0 24px;
    margin: 0;
    list-style: none;
    overflow: hidden;
    color: #ccc;
    width: 100%;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex
}

.setup-steps li {
    width: 20%;
    float: left;
    padding: 0 0 .8em;
    margin: 0;
    text-align: center;
    position: relative;
    border-bottom: 4px solid #ccc;
    line-height: 1.4em
}

.setup-steps li:before {
    content: "";
    border: 4px solid #ccc;
    border-radius: 100%;
    width: 4px;
    height: 4px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -6px;
    margin-bottom: -8px;
    background: #fff
}

.setup-steps li.active {
    border-color: #3AA7D9;
    color: #3AA7D9
}

.setup-steps li.active:before {
    border-color: #00ABD6;
}

.setup-steps li.done {
    border-color: #3AA7D9;
    color: #3AA7D9
}

.setup-steps li.done:before {
    border-color: #3AA7D9;
    background: #3AA7D9
}

.setup .setup-actions {
    overflow: hidden
}

.setup .setup-actions .button {
    float: right;
    font-size: 1.25em;
    padding: .5em 1em;
    line-height: 1em;
    margin-right: .5em;
    height: auto
}

.setup .setup-actions .button-primary {
    background-color: #3AA7D9;
    border-color: #3AA7D9;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 0 rgba(0, 0, 0, .15);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 0 rgba(0, 0, 0, .15);
    float: right;
    margin: 0;
    opacity: 1;
    /*text-shadow:0 -1px 1px #8a4f7f,1px 0 1px #8a4f7f,0 1px 1px #8a4f7f,-1px 0 1px #8a4f7f*/
}

.return-to-dashboard {
    font-size: .85em;
    color: #b5b5b5;
    margin: 1.18em 0;
    display: block;
    text-align: center
}
