span.stars, span.stars span {
    display: block;
    background: url('../../lti-pdm/media/images/stars.png') 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}

span.stars span {
    background-position: 0 0;
}

span.stars2, span.stars2 span {
    display: block;
    background: url('../../lti-pdm/media/images/stars.png') 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}

span.stars2 span {
    background-position: 0 0;
}
.image {
    position:relative;

}
.image img {
    width:100%;
    vertical-align:top;
}
.image:after, .image:before {
    position:absolute;
    opacity:0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.image:after {
    content:'\A';
    width:100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.8);
}
.image:before {
    content: attr(data-content);
    width:80%;
    color:#fff;
    z-index:1;
    bottom:40%;
    padding:4px 10px;
    text-align:center;

    box-sizing:border-box;
    -moz-box-sizing:border-box;
}
.image:hover:after, .image:hover:before {
    opacity:1;
}

.star-rating-live  {
    button: disabled;
}
