.textcontent{
	display: inline-block;
	padding-left: 5px;
	font-weight: 600;
	font-size: 14px;
	font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
}
.task{
	opacity: 0.4;
}

.task h6{
	text-decoration: line-through;
}

.marginzero{
	margin: 0px;
}

.font700{
	font-weight: 700;
}
