/* @group widget boxes */

#corewidgetbox {
	margin-top: 2em;
	margin-bottom: 1.5em;
	padding-left: 3px;
}

.widgetrow {
	width: 100%;
	position: relative;
	margin: 0 -20px 0 0;
}

.widgetrowitem:focus {
	outline: none;
	background-color: #eee;
}

.widgetrowitem:hover {

}

.defaultwidget {
	background-image: url(lti-pdm/media/images/register.png);
}

.widgetrow a {
	background-repeat: no-repeat;
	background-position: 50% 12px;
	font-size: 15px;
	padding: 75px 2px 10px 2px;
	font-weight: normal;
	text-align: center;
	width: 150px;
    height: 120px;
	display: block;
	cursor: pointer;
	clear: none;
	display: inline-block;
	border: 1px solid #c9cfd7;
	background-color: #fff;
	border-radius: 4px;
	line-height: 14px;
	margin: 0 6px 6px 0;
	font-family: "segoe ui","helvetica neue", arial, helvetica, sans-serif;
}

.widgetrow a:hover {
	background-color: #e9ecef;
}
